.footer{
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer-top-left{
    font-size: 20px;
    max-width: 400px;
}

.footer-top-left img{
    width: 10rem;
}
.footer-top-left p{
   font-size: 15px;
}
.footer-top-right{
    display: flex;
    align-items: center;
    gap: 35px;
}

.footer-email-input{
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 50px;
    background: #32323b;
    padding-right: 80px;
}

.footer-email-input:hover{
    border: 2px solid white;
}

.footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 18px;
}

.footer-subscribe{
    font-size: 20px;
    padding: 22px 50px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #b415ff 100%);
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
}

.footer-subscribe:hover{
    transform: scale(1.10);
    transition: 0.3s;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    
}
.footer-bottom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

.olas{
    position: relative;

}

.olas h3{
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.olas img{
    position: absolute;
    width: 5rem;
    bottom: 0;
    right: 250px;
    z-index: -1;

}

@media (max-width: 768px) {
    .footer {
        margin: 20px; 
        padding: 20px; 
    }

    .footer-top {
        flex-direction: column; 
        gap: 30px;
    }
    .footer-top-right{
        flex-direction: column;
        gap: 10px; 
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        gap: 20px; 
    }

    .footer-top h1,
    .footer-top p,
    .footer-bottom p {
        font-size: 16px; 
        line-height: 1.5; 
    }

    .footer img {
        max-width: 100%;
        height: auto; 
    }

    .footer-bottom-left{
        text-align: center;
    }
    .footer-bottom-right{
        text-align: center;
        
    }

    .olas img{
        position: absolute;
        width: 5rem;
        bottom: 0;
        right: 170px;
        z-index: -1;
    
    }

    .olas{
        margin-bottom: 10px;
    }
}
